body{
    background-image: url(images/bg.gif);
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    border: 0;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    image-rendering: -moz-crisp-edges;
    color: white;
}
nav{
    background-color: white;
    color: black;
    position: sticky;
    top: 0;
    display: flex;
    height: 70px;
}

.main{
    background-color: black;
    max-width: 1200px;
    margin: auto;
    margin-bottom: 0;
}

ul{
    text-align: center;
    margin: 0;
}

li{
    margin-left: 50px;
    float: left;
    text-decoration: none;
    display: block;
}

#screenshots{
   transform: scale(0.5);
   border: 2px solid #ffffff;
   transition: transform 0.3s ease;
   overflow: hidden;
}

#screenshots img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}


#screenshots:hover{
   transform: scale(1);
   border: 4px solid #ffffff;
}


img{
    border: 4px solid #ffffff;
}

.home img{
    width: 640px;
    height: 480px;
}

a{
    font-size:medium;
    text-decoration: none;
    color: black;
}

a :hover{
    color: rgb(255, 255, 255);
}

.home{
    text-align: center;
}

.story{
    display: flex;
}

.credits{
    text-align: center;
}

.screenshots{
    text-align: center;
}

.home, .story, .screenshots, .credits{
    margin: 10px;
    margin-top: 50px;
    margin-bottom: 100px;
}
