@font-face{
    font-family: Chaotix;
    src: url(knuckles-chaotix-nova.otf);
}

body{
    background-image: url(images/bg.gif);
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    border: 0;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    image-rendering: -moz-crisp-edges;
    color: white;
}

h1{
    font-family: Chaotix;
}

.main{
    background-color: black;
    max-width: 1200px;
    margin: auto;
    margin-bottom: 0;
}

#screenshots{
   transform: scale(0.75);
   border: 5px solid #ffffff;
   transition: filter 0.5s ease, transform 0.3s ease;
   overflow: hidden;
   filter: blur(2.5px); 
}

#screenshots:hover{
   filter: blur(0px); 
   transform: scale(1);
   border: 5px solid #ffffff;
}


img{
    border: 4px solid #ffffff;
}

.home img{
    width: 640px;
    height: 480px;
}

a{
    font-size:medium;
    text-decoration: none;
    color: black;
}

a :hover{
    color: rgb(255, 255, 255);
}

.home{
    text-align: center;
}

.home img{
    margin-top: 30px;
    margin-bottom: 15px;
}

.story{
    display: flex;
}

.credits{
    text-align: center;
}

.screenshot{
    margin: 0;
    text-align: center;
}

.home, .story, .screenshot{
    margin-bottom: 100px;
}
